<a  routerLink="deals"><marquee>flipZone Big Fashon Festival</marquee>></a>
<br>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="d-block w-100" alt="JS">
        <div class="carousel-caption d-none d-md-block">
          <h5>BoAT</h5>
          <p>Headphones</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://images.unsplash.com/photo-1523170335258-f5ed11844a49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1780&q=80" class="d-block w-100" alt="JQ">
        <div class="carousel-caption d-none d-md-block">
          <h5>Fossil</h5>
          <p>Watches</p>        
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1575456456278-936c89ccdb7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"class="d-block w-100" alt="CSS">
        <div class="carousel-caption d-none d-md-block">
          <h5>Puma</h5>
          <p>Footwears</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <br>
  <a  routerLink="deals"><marquee>Best of Electronics</marquee>></a>
  <br>
  <div class="container">
    <div class="row">
      <div class="col col-3 col-sm col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="https://m.media-amazon.com/images/I/61wRBGt8gPL._SX679_.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Mobile phone lenses </h5>
            <p class="card-text"> Lowfe 3in1 Mobile Camera Photo Lens; Fisheye Lens; Wide Angle; Macro Lens with Clip Holder for All Smartphones (Multicolor)</p>
            
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModel">Buy</button>
          </div>
        </div>
        </div>
        <br>
        <div class="col col-3 col-sm-6 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src="https://support.content.office.net/en-us/media/e8384959-ad1a-1b95-762b-2861496b886e.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Logitech Mouse</h5>
              <p class="card-text">  Logitech B175 / Optical Tracking, 12-Months Battery Life, Ambidextrous Wireless Optical Mouse  (2.4GHz Wireless, Black)</p>
              
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModel">Buy</button>
            </div>
          </div>
          </div>
          <br>
          <div class="col col-3 col-sm-6 col-md-3">
            <div class="card" style="width: 18rem;">
              <img src="https://telecomtalk.info/wp-content/uploads/2022/07/oneplus-10t-5g-launch-date-in-india.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Oneplus 10T 5G </h5>
                <p class="card-text">OnePlus 10T 5G (Jade Green, 8GB RAM, 128GB Storage, 6000 mAH battery, triple camera)</p>
               
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModel">Buy</button>
              </div>
            </div>
            </div>
            <div class="col col-3 col-sm-6 col-md-3">
              <div class="card" style="width: 18rem;">
                <img src="https://rukminim1.flixcart.com/image/832/832/k6jnfrk0/headphone/r/m/c/boat-airdopes-431-twin-wireless-original-imafzzhyjp4fkehx.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">boAt Airdopes 431 </h5>
                  <p class="card-text">Airdopes 433 Bluetooth Headphone with High Definition Sound,Powerful Bass and Vocal Clarity (Blue, True Wireless) </p>
                 
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModel">Buy</button>
                </div>
              </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="card text-bg-dark">
    <img src="https://cdn.zeebiz.com/sites/default/files/2018/12/21/65478-titan-website.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h4 class="card-title">Clock time</h4>
      <p class="card-text">Clock for Every moment</p>
      <p class="card-text"><small>Hurry up to add for cart</small></p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="footer">
    <h2>&copy; www.onlinetraining.com</h2>
    <h3 class="ul_media">Contact</h3> 
</div>

  
